<module>
	<rawname>openpage</rawname>
	<repo>https://github.com/FreePBX/openPage</repo>
	<name>Open Page</name>
	<version>17.0.1</version>
	<category>Admin</category>
	<publisher>James Finstrom</publisher>
	<license>GPLv3</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<description>This modile provides advanced paging for FreePBX</description>
	<changelog>
		*17.0.1* Initial Dev Release
	</changelog>
	<menuitems>
		<openpage>Advanced Paging</openpage>
	</menuitems>
	<supported>
		<version>17.0</version>
	</supported>
	<depends>
		<version>17.0</version>
	</depends>
</module>